.navbar {
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #ef4444;
  margin-left: 50px;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #dc2626;
}
